* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 375px;
    font-family: "Roboto", sans-serif;
}
#home{
    position: relative;
}
#home__content {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 30px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    width: 30rem;
    color: purple;
    animation: type 4s steps(60, end);

}


@keyframes type {
    from {
        width: 0;
    }
}

.nav-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}
#profile__image{
    display:flex;
    margin:auto;
    justify-content: center;
}